{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Blog ISA</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-book"></span> Recent posts</h3>
                <ul>
                    {% for item in recent %}
                        <li><a href="/posts/{{item.id}}">{{ item.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-star-empty"></span> Top Stories!</h3>
                <ul>
                    {% for item in trending %}
                        <li><a href="/posts/{{item.id}}">{{item.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-star-empty"></span> Top Authors!</h3>
                <ul>
                    {% for item in popularAuthors %}
                        <li><a href="/authorPosts/{{item.author}}">{{item.author}} - posts: {{ item.count }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- row -->
    </div>

{% endblock %}